#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#include "adv360_keypos.h"
#include "homerow_mods.h"

#define BASE 0
#define NUMB 1
#define NAVI 2

#define LGUI2 &hml_s LGUI LGUI
#define LALT2 &hml_s LALT LALT
#define LCTRL2 &hml_s LCTRL LCTRL
#define LSHFT2 &hml_s LSHFT LSHFT

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
      hml: home_row_mod_left {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "tap-preferred";
          require-prior-idle-ms = <125>;
          tapping-term-ms = <200>;
          quick-tap-ms = <200>;
          bindings = <&kp>, <&kp>;
          hold-trigger-key-positions = < KEYS_R THUM_L THUM_R >; // List of keys on the right side of the keyboard
          hold-trigger-on-release;
      };
      hmr: home_row_mod_right {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "tap-preferred";
          require-prior-idle-ms = <125>;
          tapping-term-ms = <200>;
          quick-tap-ms = <200>;
          bindings = <&kp>, <&kp>;
          hold-trigger-key-positions = < KEYS_L THUM_L THUM_R >; // List of keys on the left side of the keyboard
          hold-trigger-on-release;
      };
      hml_s: home_row_mod_left_sticky {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "tap-preferred";
          require-prior-idle-ms = <125>;
          tapping-term-ms = <200>;
          quick-tap-ms = <200>;
          bindings = <&sk>, <&kp>;
          hold-trigger-key-positions = < KEYS_R THUM_L THUM_R >; // List of keys on the right side of the keyboard
          hold-trigger-on-release;
      };
    };

  combos {
    compatible = "zmk,combos";

    combo_esc {
      bindings = <&kp ESC>;
      key-positions = <LT2 LT3>;
      timeout-ms = <50>;
    };

    combo_tab {
      bindings = <&kp TAB>;
      key-positions = <LB2 LB3>;
      timeout-ms = <50>;
    };

    combo_bspc {
      bindings = <&kp BSPC>;
      key-positions = <RT3 RT4>;
      timeout-ms = <50>;
    };

    combo_ret {
      bindings = <&kp RET>;
      key-positions = <RB2 RB3>;
      timeout-ms = <50>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                           &mo 3 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp U  &kp I     &kp O    &kp P    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LGUI  &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp J  &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &mo NUMB &kp SPACE &kp LCTRL &kp LALT &kp LSHFT &mo NAVI               &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo 2
      >;
    };
    numb_layer {
      display-name = "Number";
      bindings = <
        &trans    &trans    &trans   &trans   &trans     &trans &trans                                                           &trans &trans &trans    &trans       &trans        &trans          &trans
        &trans    &trans    &trans   &trans   &trans     &trans &trans                                                           &trans &trans &trans    &trans       &trans        &trans          &trans
        &trans    &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans          &trans    &trans   &trans    &trans              &trans &kp N6 &kp N7    &kp N8       &kp N9        &kp N0          &kp EQUAL
        &trans    &trans    &trans   &trans   &trans     &trans                           &trans   &trans                               &trans &trans    &trans       &trans        &trans          &trans
        &trans    &trans    &trans   &trans   &trans                   &trans   &trans    &trans   &trans    &trans    &trans                  &trans    &trans       &trans        &trans          &trans
      >;
    };
    navi_layer {
      display-name = "Navigation";
      bindings = <
        &trans    &trans    &trans   &trans   &trans     &trans &trans                                                           &trans &trans &trans    &trans       &trans        &trans          &trans
        &trans    &trans    &trans   &trans   &trans     &trans &trans                                                           &trans &trans &trans    &trans       &trans        &trans          &trans
        &trans    &sk LGUI  &sk LALT &sk LCTRL &sk LSHFT &trans &trans          &trans    &trans   &trans    &trans              &trans &kp LEFT &kp DOWN &kp UP      &kp RIGHT     &trans          &trans
        &trans    &trans    &trans   &trans   &trans     &trans                           &trans   &trans                               &kp HOME &kp PG_DN &kp PG_UP  &kp END       &trans          &trans
        &trans    &trans    &trans   &trans   &trans                   &trans   &trans    &trans   &trans    &trans    &trans                  &trans    &trans       &trans        &trans          &trans
      >;
    };
#if 0
    dummy_layer {
      display-name = "Dummy";
      bindings = <
        &trans    &trans    &trans   &trans   &trans     &trans &trans                                                           &trans &trans &trans    &trans       &trans        &trans          &trans
        &trans    &trans    &trans   &trans   &trans     &trans &trans                                                           &trans &trans &trans    &trans       &trans        &trans          &trans
        &trans    &trans    &trans   &trans   &trans     &trans &trans          &trans    &trans   &trans    &trans              &trans &trans &trans    &trans       &trans        &trans          &trans
        &trans    &trans    &trans   &trans   &trans     &trans                           &trans   &trans                               &trans &trans    &trans       &trans        &trans          &trans
        &trans    &trans    &trans   &trans   &trans                   &trans   &trans    &trans   &trans    &trans    &trans                  &trans    &trans       &trans        &trans          &trans
      >;
    };
    keypad {
      display-name = "Kp";
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &mo 3 &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
        &kp ESC   &kp A     &kp S    &kp D    &kp F      &kp G  &none           &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &none &kp H  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp KP_N0              &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo 2
      >;
    };
#endif
    fn {
      display-name = "Fn";
      bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &tog 1                                           &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans &trans &trans &trans  &none                                           &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans  &none        &trans &trans &trans &trans        &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans              &trans &trans &trans  &trans  &trans
      >;
    };
    mod {
      display-name = "Mod";
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none        &none        &none        &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };
    extra1 { 
      display-name = "Red";    
      status = "reserved";
    };

    extra2 { 
      display-name = "Purple";    
      status = "reserved";
    };

    extra3 { 
      display-name = "Cyan";    
      status = "reserved";
    };

    extra4 { 
      display-name = "Yellow";    
      status = "reserved";
    };
  };
};
